.container {
  display: flex;
  align-items: ;
  justify-content: ;
  margin-right: auto;
  margin-left: 20px;
  width: 100px;
}
.iconDate {
  background-image: url('./svg/calendar.svg');
  width: 22px;
  height: 20px;
  background-size: cover;
}

input {
  border-width: 0px;
  border: 0;
  padding-left: 7px;
  width: 75px;
  font-size: 13px;
  font-weight: 600;
}

input:hover {
  cursor: pointer;
}