
.container {

text-align: center;
margin-left: 230px;
}

.text {
width: 135px;
height: 14px;
font-family: Roboto, sant-serif;
font-weight: 400;
font-size: 12px;
color: rgba(82, 85, 95, 0.7);
text-decoration: none;
margin: auto;
float:left;
}

.cursor{
background-image: url('./svg/cursor.svg');
background-repeat: no-repeat;
width: 24px;
height: 24px;
border: 0px solid transparent;
border: none;
float: left;
}