@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  margin: 0;
  font-family:'Roboto';
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


  h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}


li {
  list-style: none;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: #FF751D;
    height: 130px;
    opacity: 1;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  display: none;
    background-color: #FF751D
}

